<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IRegistrarJugador">
                    <security>
                        <transport sslProtocols="None"/>
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILogin">
                    <security>
                        <transport sslProtocols="None"/>
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPerfil">
                    <security>
                        <transport sslProtocols="None"/>
                    </security>
                </binding>
                <binding name="NetTcpBinding_IAdministrarJuego">
                    <security>
                        <transport sslProtocols="None"/>
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8090/UNO.Contratos" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRegistrarJugador"
                contract="JuegoUNOServicioTest.IRegistrarJugador" name="NetTcpBinding_IRegistrarJugador">
                <identity>
                    <userPrincipalName value="LAPTOP-SQIOU73F\Sammy"/>
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/UNO.Contratos" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILogin"
                contract="JuegoUNOServicioTest.ILogin" name="NetTcpBinding_ILogin">
                <identity>
                    <userPrincipalName value="LAPTOP-SQIOU73F\Sammy"/>
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/UNO.Contratos" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPerfil"
                contract="JuegoUNOServicioTest.IPerfil" name="NetTcpBinding_IPerfil">
                <identity>
                    <userPrincipalName value="LAPTOP-SQIOU73F\Sammy"/>
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/UNO.Contratos" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAdministrarJuego"
                contract="JuegoUNOServicioTest.IAdministrarJuego" name="NetTcpBinding_IAdministrarJuego">
                <identity>
                    <userPrincipalName value="LAPTOP-SQIOU73F\Sammy"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>

  <connectionStrings>
    <add name="JuegoUNOContext"
      connectionString="metadata=res://*/JuegoUNOModel.csdl|res://*/JuegoUNOModel.ssdl|res://*/JuegoUNOModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=juegounoserver.database.windows.net;initial catalog=juegoUNO;user id=juegoUNOUser;password=proyectoJuegoTecnologias2020;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>